<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>

  <add name="asistenciaEntities" connectionString="metadata=res://*/HuellaRegistroModel.csdl|res://*/HuellaRegistroModel.ssdl|res://*/HuellaRegistroModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=asistencia&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>